In [1]:
a=7
print(a)

7

In [ ]:
#operators
1.Arthmetic operator
+,-,*,/,%,**,//

In [2]:
a=10
b=20
c=a+b
print(c)

30

In [ ]:
2.Assignment operator
=,=+,=-

In [4]:
x = 5
x += 3
print(x)

8

In [ ]:
3.Comparision operator
<,>,<=,>=,==,!=

In [3]:
x = 5
y = 3
print(x == y)

False

In [ ]:
4.Logical operator
AND,OR,NOT

In [5]:
x = 5
print(x > 3 and x < 10)

True

In [ ]:
5.Membership operator
in, not in

In [6]:
x = ["apple", "banana"]
print("banana" in x)

True

In [ ]:
6.Bitwise operator
&,\,!

In [7]:
print(6 & 3)

2

In [ ]:
7.Identity operator
is, is not

In [10]:
x = ["apple", "banana"]
y = ["Mango", "Papaya"]
z = x
print(x is z)
print(x is not y)

True
True

In [ ]:
#Calculator

In [23]:
num1=float(input("Enter a number"))
operator=(input("enter an operator"))
num2=float(input("Enter a number"))

if (operator == '+'):
    print(num1+num)

elif (operator == '-'):
    print(num1-num2)
elif operator == '*':
    print(num1*num2)
elif operator == '/':
    print(num1/num2)
elif operator == '**':
    print(num1**num2)
else:
    print("Invalid operator")

Enter a number 9
enter an operator *
Enter a number 2

18.0